{{> head }}

    {{> navbar }}

<div class="row">

    <div class="col-8">
        <h1> Node Js</h1>
        <p>Node.js es un entorno Javascript del lado del servidor, basado en eventos. Node ejecuta javascript utilizando
            el motor
            V8, desarrollado por Google para uso de su navegador Chrome. Aprovechando el motor V8 permite a Node
            proporciona un
            entorno de ejecución del lado del servidor que compila y ejecuta javascript a velocidades increíbles. El
            aumento de
            velocidad es importante debido a que V8 compila Javascript en código de máquina nativo, en lugar de
            interpretarlo o
            ejecutarlo como bytecode. Node es de código abierto, y se ejecuta en Mac OS X, Windows y Linux.</p>

    </div>

    <div class="col-4">
        <img src="assets/img/node.png" alt="" class="img-thumbnail">
    </div>

    {{> footer }}